input[type="range"] {
  all: revert;
}

:root {
  font-family: "Raleway", Inter, Avenir, Helvetica, Arial, sans-serif;
  /* font-size: 16px; */
  line-height: 24px;
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 360px;
}

a {
  text-decoration: none;
}

.container {
  border: 1px solid white;
  display: flex;
  background-color: darkcyan;
}

.left-menu {
  color: white;
  background-color: darkolivegreen;
  padding: 10px;
}

.left-menu h2 {
  font-size: 24px;
}

.search-item {
  margin-bottom: 30px;
}

.search-item input {
  border-bottom: 1px solid white;
}

.categories-names {
  margin-top: 20px;
}

.categories-names li {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.categories-names a {
  display: block;
  text-transform: capitalize;
}

.categories-names li:hover {
  background-color: grey;
  transition: 1s;
}

.range-selector {
  margin: 50px 0;
}

.price-range-selector {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/**
 * right 
 * ******************/

.right-pane {
  position: relative;
  background-color: white;
  min-width: 850px;
}

.product-popup {
  position: absolute;
  top: -10000px;
  min-width: 100%;
  min-height: 100%;
  background-color: darkkhaki;
  padding: 50px;
}

.product-popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  font-size: 30px;
  text-align: center;
}

.product-popup__ctrls {
  display: flex;
  justify-content: flex-end;
  background-color: oldlace;
}

.product-popup__exit {
  cursor: pointer;
  background-color: red;
  width: 50px;
  height: 50px;
  text-align: center;
}

.loading-spinner {
  display: block;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  /* border: 1px solid aqua; */
}

.grid-item-img-mini {
  height: 100px;
  width: auto;
}

.grid-item a {
  display: block;
}

.product-price {
  font-weight: 900;
}

/**
 * spinner 
 * *********/

.lds-roller {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4335 4335' width='100' height='100'%3E%3Cpath fill='%23008DD2' d='M3346 1077c41 0 75 34 75 75 0 41 -34 75 -75 75 -41 0 -75 -34 -75 -75 0 -41 34 -75 75 -75zm-1198 -824c193 0 349 156 349 349 0 193 -156 349 -349 349 -193 0 -349 -156 -349 -349 0 -193 156 -349 349 -349zm-1116 546c151 0 274 123 274 274 0 151 -123 274 -274 274 -151 0 -274 -123 -274 -274 0 -151 123 -274 274 -274zm-500 1189c134 0 243 109 243 243 0 134 -109 243 -243 243 -134 0 -243 -109 -243 -243 0 -134 109 -243 243 -243zm500 1223c121 0 218 98 218 218 0 121 -98 218 -218 218 -121 0 -218 -98 -218 -218 0 -121 98 -218 218 -218zm1116 434c110 0 200 89 200 200 0 110 -89 200 -200 200 -110 0 -200 -89 -200 -200 0 -110 89 -200 200 -200zm1145 -434c81 0 147 66 147 147 0 81 -66 147 -147 147 -81 0 -147 -66 -147 -147 0 -81 66 -147 147 -147zm459 -1098c65 0 119 53 119 119 0 65 -53 119 -119 119 -65 0 -119 -53 -119 -119 0 -65 53 -119 119 -119z' /%3E%3C/svg%3E");
}

.spinner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
