input[type="range"] {
  all: revert;
}

:root {
  font-family: "Raleway", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  display: flex;
}

.left-menu {
  background-color: darkolivegreen;
  padding: 10px;
}

.right-pane {
  background-color: darkgreen;
  width: 100%;
}

.left-menu h2 {
  font-size: 24px;
}

.categories-names {
  margin-top: 20px;
}

.categories-names li {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.categories-names a {
  display: block;
}

.categories-names li:hover {
  background-color: grey;
  transition: 1s;
}

.range-selector {
  margin: 50px 0;
}

.price-range-selector {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-item {
  padding: 10px;
  text-align: center;
  border: 1px solid aqua;
}

.grid-item img {
  width: 200px;
}

.product-price {
  font-weight: 900;
}
